<div class="container">
  <label> chat app</label>

  <div class="gifAndImplementationContainer">
    <div class="gifDiv">
       <img src="assets/icons/eating.gif" class="chatGif">
    </div>

    <div class="implementationDiv">
      <p>implementations</p>
       <ul style="line-height: 25px;">
         <li *ngFor="let item of implementations">{{item}}</li>
       </ul>
       <a (click)="openTab()">
        <button class="sourceBtn">
          <fa-icon [icon]="github" class="githubIcon"></fa-icon>
           code
        </button>
      </a>
    </div>

    <div class="projectsDiv">
      <p>others projects</p>
       <ul style="line-height: 35px; ">
         <li><a href="/youtubescraper">youtube playlist scraper</a></li>
         <li class="active">chat app</li>
         <li><a href="/snakegame">snake game</a></li>
       </ul>
    </div>
  </div>
</div>
