<div class="toolsDiv">

<!-- my tools label div section -->
  <div class="labelDiv">
    <fa-icon [icon]="tool" class="iconTool"></fa-icon>
    <label>My tools:</label>
  </div>

<!-- container of icons section -->
  <div class="iconsDiv">
<!-- icons section -->
    <div class="javaDiv">
      <img src="assets/icons/java-logo.png" class="javaLogo">
    </div>

    <div class="javaFxDiv">
      <img src="assets/icons/javaFx-logo.png" class="javaFxLogo">
    </div>

    <div class="seleniumDiv">
      <img src="assets/icons/selenium-logo.png" class="seleniumLogo">
    </div>

    <div class="springBootDiv">
      <img src="assets/icons/spring-boot.png" class="springBootLogo">
    </div>

    <div class="mySqlDiv">
      <img src="assets/icons/mysql-logo.png" class="mysqlLogo">
    </div>
  </div>

</div>
